<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="com.ibm.safari.cheatSheets"
         name="SAFARI Cheat Sheets"
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
         name="SAFARI"
         id="com.ibm.safari">
      </category>
      <cheatsheet
         name="New Programming Language"
         category="com.ibm.safari"
         id="com.ibm.watson.safari.cheatSheets.language"
         contentFile="cheatsheets/NewProgLang.xml">
         <description>
           Create IDE support for a new programming language.
         </description>
      </cheatsheet>
   </extension>
</plugin>
